@keyframes animacao {
    0% {
      transform: translateX(-15px);
    }
    50% {
      transform: translateX(15px);
    }
    100% {
      transform: translateX(-15px);
    }
  }
  
  .h1:hover {
    animation: animacao 1s infinite;
  } 

  @keyframes animacao {
    0% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translate(-5px);
    } 
  }

  #pagbank:hover {
    background-color: rgba(7, 138, 29, 0.1);
    animation: animacao 7s infinite;

  }

  @keyframes animacao {
    0% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translate(-5px);
    } 
  }

  #losango:hover {
    background-color: rgba(133, 6, 80, 0.1);
    animation: animacao 7s infinite;

  }


  @keyframes animacao {
    0% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translate(-5px);
    } 
  }

  #renner:hover {
    background-color: rgba(168, 7, 7, 0.1);
    animation: animacao 7s infinite;

  }


  @keyframes animacao {
    0% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translate(-5px);
    } 
  }

  #berlanda:hover {
    background-color: rgba(9, 85, 224, 0.1);
    animation: animacao 7s infinite;

  }

  @keyframes animacao {
    0% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translate(-5px);
    } 
  }

  .grafico:hover {
    background-color: rgba(102, 12, 192, 0.2);
    animation: animacao 7s infinite;

  }

  @keyframes animacao {
    0% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translate(-5px);
    } 
  }

  .estrategia:hover {
    background-color: rgba(102, 12, 192, 0.2);
    animation: animacao 7s infinite;

  }



  @keyframes animacao {
    0% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translate(-5px);
    } 
  }

  .campanhas:hover {
    background-color: rgba(102, 12, 192, 0.2);
    animation: animacao 7s infinite;

  }


  @keyframes animacao {
    0% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translate(-5px);
    } 
  }

  .resultado:hover {
    background-color: rgba(102, 12, 192, 0.2);
    animation: animacao 7s infinite;

  }



  @keyframes animacao {
    0% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translate(-5px);
    } 
  }

  .importacao:hover {
    background-color: rgba(102, 12, 192, 0.2);
    animation: animacao 7s infinite;

  }


body {
    background: linear-gradient(to bottom, rgb(7, 91, 133), #202020);
    height: 400vh;
    margin: 0;
}

h1 {
    color: white;
    border-radius: 30px;
    width: 300px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}




.sair {
  position: absolute;
  color: white;
  background: linear-gradient(144deg,#0391e4,#4f46e5);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px;
  border-radius: 20px;
  translate: 1800px;
  margin-top: -50px;
  width: 70px;
  height: 30px;
}

.importacao {
  position: absolute;
  color: rgb(255, 255, 255);
  background-color:rgb(7, 57, 82);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 2px;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  margin-top: -50px;
  translate: 600px;
}

/* desativado por enquanto */

.grafico {
  position: absolute;
  color: rgb(255, 255, 255);
  background-color:rgb(23, 25, 26);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 2px;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  margin-top: -50px;
  translate: 575px;
}

.estrategia {
  position: absolute;
  color: rgb(255, 255, 255);
  background-color:rgb(7, 57, 82);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 2px;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  margin-top: -50px;
  translate: 800px;
}

.campanhas {
  position: absolute;
  color: rgb(255, 255, 255);
  background-color:rgb(7, 57, 82);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 2px;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  margin-top: -50px;
  translate: 1000px;
}


/* desativado por enquanto */


.resultado {
  position: absolute;
  color: rgb(255, 255, 255);
  background-color:rgb(23, 25, 26);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 2px;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  margin-top: -50px;
  translate: 1075px;
  
}


#pagbank {
  display: flex;
  position: absolute;
  background: linear-gradient(to bottom, rgb(25, 25, 26 ), #00000010);
  border-radius: 20px;
  width: 600px;
  height: 275px;
  margin-top: 650px;
  translate: 200px;
  box-shadow: 5px 5px 10px  #00000010, -5px -5px 10px #00000010;
}

#losango {
  display: flex;
  position: absolute;
  background: linear-gradient(to bottom, rgb(25, 25, 26), #9696961c);
  border-radius: 20px;
  width: 600px;
  height: 275px;
  margin-top: 650px;
  translate: 1000px;
  box-shadow: 5px 5px 10px  #00000010, -5px -5px 10px #00000010;
  
}

#berlanda {
  display: flex;
  position: absolute;
  background: linear-gradient(to bottom, rgb(25, 25, 26), #9696961c);
  border-radius: 20px;
  width: 600px;
  height: 275px;
  margin-top: 1000px;
  translate: 1000px;
  box-shadow: 5px 5px 10px  #00000010, -5px -5px 10px #00000010;
}

#renner {
  display: flex;
  position: absolute;
  background: linear-gradient(to bottom, rgb(25, 25, 26), #9696961c);
  border-radius: 20px;
  width: 600px;
  height: 275px;
  margin-top: 1000px;
  translate: 200px;
 
   
}

